html,
body {
  height: 100% !important;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  background-repeat: repeat;
  border: 0 !important;
  margin: 0;
  -ms-content-zooming:none;
  touch-action:none;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

iframe {
  border: 0;
  height: 100vh!important;
}