@font-face {
  font-family: 'sm-icons';
  src:  url('../fonts/sm-icons.eot?oah69f');
  src:  url('../fonts/sm-icons.eot?oah69f#iefix') format('embedded-opentype'),
    url('../fonts/sm-icons.ttf?oah69f') format('truetype'),
    url('../fonts/sm-icons.woff?oah69f') format('woff'),
    url('../fonts/sm-icons.svg?oah69f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sm-icons-"]:before, [class*=" sm-icons-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sm-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sm-icons-bandera-idioma:before {
  content: "\e900";
}
.sm-icons-microscopio:before {
  content: "\e901";
}
.sm-icons-reloj:before {
  content: "\e902";
}
.sm-icons-carpeta-personal:before {
  content: "\e903";
}
.sm-icons-social-facebook:before {
  content: "\e904";
}
.sm-icons-youtube:before {
  content: "\e905";
}
.sm-icons-social-flickr:before {
  content: "\e906";
}
.sm-icons-social-google:before {
  content: "\e907";
}
.sm-icons-social-linkedin:before {
  content: "\e908";
}
.sm-icons-profe:before {
  content: "\e909";
}
.sm-icons-caja-texto:before {
  content: "\e90a";
}
.sm-icons-social-pinterest:before {
  content: "\e90b";
}
.sm-icons-social-twitter:before {
  content: "\e90c";
}
.sm-icons-video:before {
  content: "\e90d";
}
.sm-icons-audio:before {
  content: "\e90e";
}
.sm-icons-document:before {
  content: "\e90f";
}
.sm-icons-visible:before {
  content: "\e910";
}
.sm-icons-dir1-abajo:before {
  content: "\e911";
}
.sm-icons-social-vimeo:before {
  content: "\e912";
}
.sm-icons-dir1-arriba:before {
  content: "\e913";
}
.sm-icons-dir1-dcha:before {
  content: "\e914";
}
.sm-icons-dir1-iz:before {
  content: "\e915";
}
.sm-icons-dir2-abajo:before {
  content: "\e916";
}
.sm-icons-dir2-arriba:before {
  content: "\e917";
}
.sm-icons-dir2-dcha:before {
  content: "\e918";
}
.sm-icons-mensaje-leido:before {
  content: "\e919";
}
.sm-icons-mensaje-no-leido:before {
  content: "\e91a";
}
.sm-icons-diario-agenda:before {
  content: "\e91b";
}
.sm-icons-lapiz:before {
  content: "\e91c";
}
.sm-icons-cuentagotas:before {
  content: "\e91d";
}
.sm-icons-comentario:before {
  content: "\e91e";
}
.sm-icons-dir2-iz:before {
  content: "\e91f";
}
.sm-icons-grupo-alumnos:before {
  content: "\e920";
}
.sm-icons-compartir:before {
  content: "\e921";
}
.sm-icons-editar:before {
  content: "\e922";
}
.sm-icons-ayuda:before {
  content: "\e923";
}
.sm-icons-check-ok:before {
  content: "\e924";
}
.sm-icons-papelera:before {
  content: "\e925";
}
.sm-icons-forma:before {
  content: "\e926";
}
.sm-icons-punta-dcha:before {
  content: "\e927";
}
.sm-icons-punta-iz:before {
  content: "\e928";
}
.sm-icons-flecha-dcha:before {
  content: "\e929";
}
.sm-icons-flecha-iz:before {
  content: "\e92a";
}
.sm-icons-bloqueado:before {
  content: "\e92b";
}
.sm-icons-desbloqueado:before {
  content: "\e92c";
}
.sm-icons-pantalla-ventana:before {
  content: "\e92d";
}
.sm-icons-pantalla-completa:before {
  content: "\e92e";
}
.sm-icons-area-seleccion:before {
  content: "\e92f";
}
.sm-icons-duplicar:before {
  content: "\e930";
}
.sm-icons-buscar:before {
  content: "\e931";
}
.sm-icons-conectar:before {
  content: "\e932";
}
.sm-icons-enlace:before {
  content: "\e933";
}
.sm-icons-close:before {
  content: "\e934";
}
.sm-icons-print:before {
  content: "\e935";
}
.sm-icons-add:before {
  content: "\e936";
}
.sm-icons-text:before {
  content: "\e937";
}
.sm-icons-menu:before {
  content: "\e938";
}
.sm-icons-deshacer:before {
  content: "\e939";
}
.sm-icons-rehacer:before {
  content: "\e93a";
}
.sm-icons-alejar:before {
  content: "\e93b";
}
.sm-icons-aumentar:before {
  content: "\e93c";
}
.sm-icons-image:before {
  content: "\e93d";
}
.sm-icons-paleta:before {
  content: "\e93e";
}
.sm-icons-avion-enviar:before {
  content: "\e93f";
}
.sm-icons-clonar:before {
  content: "\e940";
}
.sm-icons-organizar-fondo:before {
  content: "\e941";
}
.sm-icons-organizar-frente:before {
  content: "\e942";
}
.sm-icons-puzzle:before {
  content: "\e943";
}
.sm-icons-grosor-linea:before {
  content: "\e944";
}
.sm-icons-radio-off:before {
  content: "\e945";
}
.sm-icons-radio-on:before {
  content: "\e946";
}
.sm-icons-menos:before {
  content: "\e947";
}
.sm-icons-mas:before {
  content: "\e948";
}
.sm-icons-estrella_vacia:before {
  content: "\e949";
}
.sm-icons-ver_paginas_listado:before {
  content: "\e94a";
}
.sm-icons-texto_resaltado:before {
  content: "\e94b";
}
.sm-icons-texto_cursiva:before {
  content: "\e94c";
}
.sm-icons-texto_subrayado:before {
  content: "\e94d";
}
.sm-icons-texto_tachado:before {
  content: "\e94e";
}
.sm-icons-menu-listado:before {
  content: "\e94f";
}
.sm-icons-zoom_in_circulo:before {
  content: "\e950";
}
.sm-icons-zoom_out_circulo:before {
  content: "\e951";
}
.sm-icons-pincel:before {
  content: "\e952";
}
.sm-icons-ver_listado:before {
  content: "\e953";
}
.sm-icons-ver_mosaico:before {
  content: "\e954";
}
.sm-icons-libro:before {
  content: "\e955";
}
.sm-icons-estrella:before {
  content: "\e956";
}
.sm-icons-texto_sombra:before {
  content: "\e957";
}
.sm-icons-birrete:before {
  content: "\e958";
}
.sm-icons-mano:before {
  content: "\e959";
}
.sm-icons-carro_compra:before {
  content: "\e95a";
}
.sm-icons-ver_mas:before {
  content: "\e95b";
}
.sm-icons-alerta:before {
  content: "\e95c";
}
.sm-icons-informacion:before {
  content: "\e95d";
}
.sm-icons-dialogo-chat:before {
  content: "\e95e";
}
.sm-icons-adjunto:before {
  content: "\e95f";
}
.sm-icons-corazon-linea:before {
  content: "\e960";
}
.sm-icons-corazon-mancha:before {
  content: "\e961";
}
.sm-icons-localizador:before {
  content: "\e962";
}
.sm-icons-musica:before {
  content: "\e963";
}
.sm-icons-flecha_atras_circulo:before {
  content: "\e964";
}
.sm-icons-flecha_adelante_circulo:before {
  content: "\e965";
}
.sm-icons-no_disponible:before {
  content: "\e966";
}
.sm-icons-calendario:before {
  content: "\e967";
}
.sm-icons-restaurar:before {
  content: "\e968";
}
.sm-icons-ajustar:before {
  content: "\e969";
}
.sm-icons-descarga:before {
  content: "\e96a";
}
.sm-icons-notificacion:before {
  content: "\e96b";
}
.sm-icons-filtro:before {
  content: "\e96c";
}
.sm-icons-ordenar:before {
  content: "\e96d";
}
.sm-icons-salir:before {
  content: "\e96e";
}
.sm-icons-guardar-2:before {
  content: "\e96f";
}
.sm-icons-guardar:before {
  content: "\e970";
}
.sm-icons-herramientas-2:before {
  content: "\e971";
}
.sm-icons-herramientas-1:before {
  content: "\e972";
}
.sm-icons-exportar:before {
  content: "\e973";
}
.sm-icons-abrir:before {
  content: "\e974";
}
.sm-icons-menos-fino:before {
  content: "\e975";
}
.sm-icons-mas-fino:before {
  content: "\e976";
}
.sm-icons-forma-circulo:before {
  content: "\e977";
}
.sm-icons-pin:before {
  content: "\e978";
}
.sm-icons-document_v2:before {
  content: "\e979";
}
.sm-icons-usuario:before {
  content: "\e97a";
}
.sm-icons-texto_curvas:before {
  content: "\e97b";
}
.sm-icons-encajar_en_pantalla:before {
  content: "\e97c";
}
.sm-icons-seleccionar_texto:before {
  content: "\e97d";
}
.sm-icons-clonar-2:before {
  content: "\e97e";
}
.sm-icons-switch-on:before {
  content: "\e97f";
}
.sm-icons-switch-off:before {
  content: "\e980";
}
.sm-icons-rep-volumen:before {
  content: "\e981";
}
.sm-icons-rep-pause:before {
  content: "\e982";
}
.sm-icons-rep-play:before {
  content: "\e983";
}
.sm-icons-descarga-2:before {
  content: "\e984";
}
.sm-icons-pantalla-completa-2:before {
  content: "\e985";
}
.sm-icons-ajusta-ancho:before {
  content: "\e986";
}
.sm-icons-bocadillo-lleno:before {
  content: "\e987";
}
.sm-icons-configuracion:before {
  content: "\e988";
}
.sm-icons-archivador:before {
  content: "\e989";
}
.sm-icons-voltear:before {
  content: "\e98a";
}
