.btn.sm-icons {
	background-color: #505267;
  border-radius: 10px;
  text-align: center;
  cursor:pointer;
}

.btn.sm-icons:before {
	color: #FFFFFF;
	width: 100%;

  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.btn.sm-icons.selected {
  background-color: #FD469B;
}

.sm-icons.disabled {
  color: grey;
  cursor: inherit;
}

.sm-icons.disabled:not(.selected):hover:before {
  color: grey;
}

.btn.sm-icons:not(.selected):hover:before {
	color: #FD469B;
}
.btn.sm-icons.selected:hover {
	cursor: auto;
}

.vertical{
  transform: rotate(90deg);
}
/*
  estilos especificos  barra herramientas
*/
.navbar .group{
  border:none !important;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  height: 46px;
}

.navbar .sm-icons:before{
  font-size:2.5em;
}

.sm-icons:hover{
  color:#FD469B;
}

.sm-icons.active, .sm-icons.active:before {
  color:#FD469B;
}

.sm-icons{
  color:#fff;
  border: none;
  cursor:pointer;
  margin-left:10px;
}

.sm-icons.opener{
  margin-right: 10px;
}

.sm-icons.opener::after{
  font-family: 'sm-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: "\e911";
  font-size: 2em;
  position:absolute;
  top: 15px;
}

.navbar .separator{
  margin:12px 0 0 10px;
  float:left;
  height:2.5em;
}

.navbar .moreButton.opener{
  margin-left: 0;
  margin-right: 0;
}

/*
 estilos especificos side panel
*/
#tabMenu .sm-icons:before{
  font-size:2em;
}

#tabMenu {
  padding:5px;
}

#tabMenu .sm-icons{
  margin: 5px;
}

#tabMenu .separator{
  line-height: 25px !important;
  border-right:none;
  opacity: 0.5;
}



/*
  estilos especificos menus desplegable barra herramientas
*/
.dropdown-menu .btn.sm-icons {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.dropdown-menu .btn.sm-icons:before{
  font-size: 2.2em;
  line-height: 1.6;
  vertical-align: middle;
}

/*
  estilos propios barra menu contextual
*/
.horizontalButtons{
  overflow: hidden;
  background-color: #E2E3EB;
  border-radius: 10px;
}

.horizontalButtons .btn{
  height: 40px ;
  width: 40px;
  margin: 7px 7px 7px 0;
  border-radius: 10px !important;
  font-size: 20px;
}
.horizontalButtons .btn:first-child{
  margin: 7px;
}

.sm-confirm{
  border-radius: 10px !important;
}

.toggleNotesButton{
  position:absolute;
  transform: rotate(90deg);
  font-size: 20px;
  color:#fff;
}

/* Para guardado de anotaciones a local - @see Perú */
.loadSaveAnnotButton {
  font-size: 23px !important;
  padding: 5px;
}