.dropdown-menu {
  position: absolute;
  margin: 0;
  border: 0;
  min-width: 0 !important;
  padding: 10px;
  border-radius: 10px;
  background-color: #E2E3EB;
}

.dropdown-menu.center {
  left: 50% !important;
  transform: translateX(-50%) !important;
  right: initial !important;
}

.dropdown-menu.horizontal li {
  vertical-align: middle;
}
.dropdown-menu.horizontal li,
.dropdown-menu.horizontal li *:first-child {
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu.horizontal .divider {
  height: 25px;
  width: 1px;
  margin: 0 10px !important;
  display: inline-block;
  background: #505267;
}