.sm-navbar {
  display: block;
  margin: 0;
  border: 0;
  padding: 0 10px;
  min-height: 50px;
  width: 100%;
}

.sm-navbar.fixed,
.sm-navbar.fixed.top {
  position: fixed;
  right: 0;
  left: 0;
}

.sm-navbar.fixed.bottom {
  bottom: 0;
}

.sm-navbar.fixed.center {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.sm-navbar-inner {
  background-color: #515267;
}

.sm-navbar-inner.dropdown {
  background-color: #515267;
}

.sm-navbar .btn {
  display: inline-block;
  padding: 6px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  		touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  	 -moz-user-select: none;
  	  -ms-user-select: none;
  				user-select: none;
  background-image: none;
  border: 0;
  color: #FFFFFF;
}

.sm-navbar .btn:hover {
  color: #E3001A;
}