body,
#viewer {
  background: #fff;
}
.pageContainer {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.ldtron-off {
  display: none !important;
}

/********************************
  Fondo blanco
*********************************/
#DocumentViewer {
  background: #fff !important;
  width: 100vw;
  height: 100vh!important;
  overflow: auto!important;
}

/********************************
  Contenedores sin bordes
*********************************/
#thumbnailView,
#fullSearchView,
#tabMenu,
#tabs,
#pageHeader,
#pageFooter,
.drop-conten,
#documentSortButton,
#timeSortButton {
  border: 0 !important;
}

#thumbnailView {
  height: 100%;
}

/********************************
  Botones sin sombra
*********************************/
.glyphicons,
.glyphicons:before,
.glyphicons:hover,
.glyphicons:hover:before {
  text-shadow: none !important;
}

/********************************
  Botones color blanco
*********************************/
#control .glyphicons,
#control .glyphicons:before,
#tabMenu .glyphicons,
#tabMenu .glyphicons:before,
#notesBar .glyphicons,
#notesBar .glyphicons:before,
.menuContext .glyphicons:before,
.glyphicons#noteOptionsCloseButton:before {
  color: #fff !important;
}

/********************************
  Botones active y hover
*********************************/
.glyphicons:hover,
.glyphicons:hover:before,
#control .glyphicons:hover,
#control .glyphicons:hover:before,
#control .glyphicons.active:before,
#tabMenu .glyphicons:hover,
#tabMenu .glyphicons:hover:before,
#notesBar .glyphicons:hover,
#notesBar .glyphicons:hover:before,
.glyphicons.active:before,
.glyphicons#layoutModes:hover:before,
.glyphicons#layoutModes.active:before,
.glyphicons.annotTool:hover:before,
.glyphicons.moreButton:hover:before,
.glyphicons#noteOptionsCloseButton:hover:before,
#searchControl .search:hover:before,
#fitModes .glyphicons:hover:before,
#toolList .glyphicons:hover:before,
#toolPaintList .glyphicons:hover:before {
  color: #FD469B !important;
}

/********************************
  Botones color gris
*********************************/
#searchControl .search:before,
#fitModes .glyphicons:before,
#toolList .glyphicons:before,
.glyphicons#toolList:before,
#toolPaintList .glyphicons:before,
.glyphicons#toolPaintList:before,
.glyphicons#layoutModes,
.glyphicons.moreButton:before {
  text-shadow: none !important;
  color: #434f4c !important;
}

/********************************
  Inputs
*********************************/

input {
  background: #fff !important;
  color: #000 !important;
  text-shadow: none !important;
  border: 0 !important;
}

input[type=text] {
  height: 22px;
  padding-left: 2px;
}
#searchOptions {
  margin-left: 4px;
}

/********************************
  Fondo gris oscuro
*********************************/
.navbar,
#notesPanel,
#noteOptions,
.drop-content,
#notesPanelWrapper {
  background-color: #505267 !important;
}

.navbar .separator {
  border-left: 0;
  border-color: rgba(255, 255, 255, .5);
}

#tabMenu
{
  background: #505267;
  border-top: solid 1px #fff !important;
}
#sidePanel{
  background: rgba(80, 82, 103, 0.8) !important;
  min-width:300px;
}
.drop-content:before {
  border-bottom-color: #434f4c !important;
}

.toolbar .ui-label,
#tabMenu .picture:before,
#noteOptionsCloseButton + div {
  text-shadow: none !important;
  color: #fff !important;
}
#tabMenu .glyphicons.active:before,
#toggleNotesPanel.active:before {
  color: #FD469B !important;
}
#searchControl .search:hover:before,
#tabMenu .picture:hover:before {
  color: #FD469B !important;
  cursor: pointer;
}
#tabMenu {
  border-bottom: 0;
}
#fitModes .glyphicons.active,
#toolList .glyphicons.active,
#toolPaintList .glyphicons.active {
  background: #eee;
}
#toolList,
#toolPaintList{
  border: 0
}
#noteOptions {
  position: absolute;
  top: 50px;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
  padding: 15px;
  color: #FFFFFF;
}

#documentSortButton,
#timeSortButton {
  color: #FFFFFF;
  background-color: transparent;
  border: solid 1px #FFFFFF!important;
}
#documentSortButton.ui-state-active,
#timeSortButton.ui-state-active {
  background: #FD469B !important;
}
#commentSearchBox {
  height: 33px;
  border-radius: 33px;
  padding: 0 10px;
  outline: unset;
}
#notesBar {
  border-right: 0;
}
#noteOptionsButton {
  top: 50px;
  right: 16px !important;
  font-size:33px;
  opacity: 1;
}
#noteOptionsButton:before {
  color: #FFFFFF;
}
#noteOptionsButton:hover:before {
  color: #FD469B !important;
}
#notesPanelOrderBy {
  color: #fff !important;
  text-shadow: none !important;
}

.ui-widget-header,
.ui-widget-content,
.tab-panel-item-stretch {
  border: 0 !important;
}
.ui-widget-content {
  font-size: 12px;
}

/********************************
  LDTron Panel lateral
*********************************/
.bookmarkWrapper {
  color: #fff;
  border-bottom: solid 1px #FFF ! important;
  padding: 10px 2px;
}
.bookmarkWrapper.selected,
.bookmarkWrapper:hover {
  color: #fff !important;
  background: #FD469B !important;
}
.ui-tabs-panel,
.tab-panel-stretch,
.thumbContainer,
#sidePanel {
  border: 0;
  top:50px;
}
#sidePanel .ui-widget-content{
  background: transparent;
}

.thumbContainer,
.thumbContainer:hover {
  color: #fff !important;
}
.thumbContainer.ui-state-active {
  background: #eee !important;
  color: #000 !important;
}
.tab-panel-item-fixed {
  padding: 3px 0;
  color: #fff;
}
#fullSearchBox {
  min-width: 50px;
      width: 80px !important;
  float:left;
  margin-left: 5px;
  outline: none;
}
.searchResultLine {
  color:#333;
}
.searchResultLine:hover, .searchResultLine.ui-state-active {
  color:#fff !important;
}

.thumbPad{margin-top:0px;}

#fullSearchView{
  background: rgba(150,150,150, 0.8);
}

.bookmarkWrapper {display : block !important;margin: 2px 1px;}
.sm-no-display{display: none;}

.hiddenAnimated {
  transition-property: opacity;
  transition-duration: 0.5s;
  filter: alpha(opacity=0);
  opacity: 0;
}
.ldtron #control.hiddenVisibilityAnimated {
  transition-property: opacity;
  transition-duration: 0.5s;
  filter: alpha(opacity=0);
  visibility: hidden;
  opacity: 0;
}
.ldtron #control {
  transition-property: opacity;
  transition-duration: 0.5s;
  filter: alpha(opacity=1);
  opacity: 1;
  visibility: visible;
  padding: 0 3px;
  height: 50px;
  width: 100%;
  font-weight: normal;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
  display: none!important;
}
#pageNumberBox {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  height:20px;
  width: 30px;
  padding-right: 2px;
  margin-left:5px;
  font-weight: normal;
}

#totalPages{
  line-height: 20px;
  margin-left: 5px;
  margin-top: 0;
}
#nextPageLDTron{
  margin-left:5px;
}
#zoomBox{
  font-family: Arial;
  font-size: 15px;
  background: #000 !important;
  color:#fff !important;
  border:none;
  outline: none;
}
.zoomWrapper{
  background: #000;
  margin-left:10px;
  padding:0 10px;
}
.zoomWrapper span.opener{
  margin-left: -5px;
}
.noteAuthor {
  font-weight: bold;
}
.selectedNote {
  background-color: #eee;
}
.replyContainer {
  background-color: #f5f5f5;
}
#notesBar,
#notesBar .toggleNotesButton {
  background-color: #505267;
  width: 0px;
  padding: 0 0 15px;
}
#notesBar .annotLine,
.noteLine.horizontal {
  border-top-color: #FD469B;
}
#searchView,
#bookmarkView,
#personalView {
  margin: 0 5px 0 5px;
}
#personalView {
  overflow: auto;
}
#noteOptions button {
  color: #000;
}
#control .ui-label {
  margin-top: 0;
}
#toggleSidePanel {
  margin: 0 10px 0 0;
}
.tab-panel-stretch {
  visibility: visible;
}

#notesPanel .user-image-col,
#notesPanel .noteAuthor,
#notesPanel .noteAuthor,
#notesPanel .noteAuthor + span,
#notesPanel .replyContainer {
  display: none !important;
}
.toolsContainer .vector_arrow,
.toolsContainer .vector_path_line,
.toolsContainer .signature,
.toolsContainer .callout,
.toolsContainer .vector_path_polygon,
.toolsContainer .vector_path_polyline {
  display: none !important;
}
#fitPage,
#printButton {
  display: none !important;
}

.dropdown-menu a[data-i18n='contextMenu.arrow'],
.dropdown-menu a[data-i18n='contextMenu.signature'] {
  display: none !important;
}

#saveAnnotationsButton {
  display: none;
}
.noteAuthorAndTime {
  margin-left: 0;
}

#toggleTitle {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 320px;
}

#toggleTitle {
  visibility: hidden;
  opacity: 0;
}
#toggleTitle.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.1s linear;
}


/*#sidePanel.visible + .right-content #toggleTitle {
  display: none;
}*/

@media screen and (max-width: 950px){
  #toggleTitle {
    display: none;
  }
}

#smLogo {
  display: inline-block;
  vertical-align: middle;
  padding: 0 4px 0 4px;
  height: 28px;
  margin: 10px 10px 0 0;
}

#buttonFilterIcons .glyphicons.customicons:before {
  content: "\E052" !important;
}

#buttonFilterIcons.isShown .glyphicons.customicons:before {
  content: "\E053" !important;
}

.glyphicons.personal:before{
  content: "\E358" !important;
}

#tabs {
  position: absolute;
  width: 100%;
}

#buttonFilterIcons, #fitWidth {
  display: inline-block;
}

.group .glyphicons:last-child,
#layoutModeDropDown .glyphicons.page_gear {
  padding-right: 0;
}

#fitModes {
  margin-left: 6px;
  display: inline-block;
  background: #fff;
  margin:0;
  padding:0;
}

#searchBox {
  margin-left: 4px;
  width: 60px;
}

.drop-content.group + .group {
  padding-top: 2px;
}

#notesPanel {
  margin-left: 15px;
  height: 100%;
}

#notesPanel .panelElement {
  margin: 0 10px 0 5px;
  background-color: #676A8E;
}

#notesPanel.timeSort  .panelElement {
  margin: 10px 10px 50px 5px;
}

#notesPanel .noteContainer {
  padding: 5px;
  height: 100%;
}

#notesPanel .noteContainer,
#notesPanel .noteTime {
  color: #FFFFFF;
}

#notesPanel .noteSubject,
#notesPanel .noteTime {
  padding-left: 40px;
}

#notesPanel .staticNoteContents {
  background-color: #FFFFFF;
  color: #000000;
  padding: 5px;
  padding: 5px;
  min-height: 30px;
}

#notesPanel .editButtonsContainer,
#notesPanel .noteButtonsContainer {
  text-align: right;
  /* padding: 10px 0; */
  /*position: absolute;*/
  width: 100%;
  margin-bottom: -50px;
  /* margin-right: -27px; */
  position: absolute;
  right: 0;
  bottom: 13px;
}

#notesPanel .notesLink {
  margin: 0;
}

#notesPanelWrapper.noteOptionsVisible #notesPanel {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#notesPanel.timeSort {
  overflow-y: auto;
}

#notesPanel .noteHeader .node-type {
  position: absolute;
  left: 5px;
  margin: 0;
  top: 5px;
  font-size: 1.8rem;
  color: #A0A2B7;
}


.glyphicons.flaticon-uniE030:before{
  content: '\e030';
}

.glyphicons.flaticon-uniE115:before{
  content: '\e115';
}

#notesPanelWrapper {
  top: 0;
  padding-top: 50px;
  display: none;
}

#overflowPaintToolsContainer {
  width: 530px;
  text-align: center;
}


.dropdown-menu .color-option,
.dropdown-menu .size-option,
.dropdown-menu .opacity-option
 {
	width: 30px;
  height: 30px;
}

.color-option {
	border-radius: 5px;
	margin: 0 3px;
}
.color-option.one {
	background-color: #FF0000;
}
.color-option.two {
	background-color: #2C65CE;
}
.color-option.three {
	background-color: #FFFF00;
}
.color-option.four {
	background-color: #00FF00;
}
.color-option.selected {
  border: 2px solid #505267;
  width: 26px;
  height: 26px;
}
.size-option, .opacity-option {
	position: relative;
}
.size-option .dot, .opacity-option .dot {
	content: ' ';
	background-color: #505267;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
}
.size-option.small {
	width: 20px;
}
.size-option.small .dot {
	width: 10px;
	height: 10px;
}
.size-option.medium .dot {
	width: 15px;
	height: 15px;
}
.size-option.normal .dot{
	width: 20px;
	height: 20px;
}
.size-option.big, .opacity-option {
	width: 35px;
}
.size-option.big .dot, .opacity-option .dot{
	width: 30px;
	height: 30px;
}
.opacity-option.opacity25{
  opacity:.25
}
.opacity-option.opacity50{
  opacity:.5
}
.opacity-option.opacity75{
  opacity:.75
}
.opacity-option.opacity100{
  opacity: 1
}

.width-option{
  display: block;
  text-align: right;
  padding : 0 15px;
  cursor:pointer;
  border-radius: 5px;
}
.width-option:hover{
  background:#FFF;
  color: #FD469B;
}

.annotLine{display:none !important;}

.ui-dialog.sm-confirm, .ui-dialog.sm-confirm *{

  background: #35403e;
  color:#fff;

}

.ui-dialog.sm-confirm p{
  font-size: 14px;
}

.ui-dialog.sm-confirm button, .ui-dialog.sm-confirm button * {
  background : rgba(252,70,155,0.5);
  outline: none;
  border: none !important;
  border-radius: 10px;
  transition: background 0.5s ease-out;
}

.ui-dialog.sm-confirm button:hover{
  color:#FFF;
  background : rgba(252,70,155,1)
}

.ui-dialog.sm-confirm p{
  font-size:15px;
}

.ui-dialog.sm-confirm .ui-dialog-titlebar button{
  display:none;
}

#docpad{
  margin: 0 !important;
}

#notesPanelWrapper{
  width:310px !important;
}
#notesPanel{
  width: 290px !important;
  overflow: hidden;
}

#buttonFilterIcons.isShown span{
  color:rgba(252,70,155,1)
}

#control .ui-label,
#control input,
#control button {
  font-family: "Arial", "Trebuchet MS", "Helvetica", "Verdana", "sans-serif";
  font-weight: normal;
  font-size: 15px;
  height: 25px;
  vertical-align: middle;
  line-height: 25px;
}

.sm-icons-pantalla-ventana, .half-active{
  color:rgba(252,70,155,0.5) !important;
}

.btnmini {
  border-radius: 5px !important;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-color: #505267 !important;
  font-size: 1.2rem;
  border: solid 1px #93A3B1!important;
  margin-left: 12px;
}

.noteButtonsContainer,
.editButtonsContainer {
  margin-top: 5px !important;
}

.collapseButtonsContainer {
  background-color: #FFFFFF;
  margin: 0 !important;
  padding: 5px;
}

.collapseButtonsContainer .notesLink {
  color: #48A3FF;
  font-size: 13px;
  text-decoration: none!important;
  border-bottom: 1px solid #48A3FF;
}

.ui-state-disabled .sm-icons:hover{
  color: #FFF;
}

#toggleAnnotationsButton {
  text-align: right;
  cursor: pointer;
}

#toggleAnnotationsButton * {
  vertical-align: middle;
}

#toggleAnnotationsButton .sm-icons {
  font-size: 0.9rem;
}

#toggleAnnotationsButton button {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 0 5px;
  border: 0;
  min-width: inherit;
}


#toggleAnnotationsButton.checked button:before {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'sm-icons';
  font-size: 1rem;
  content: "\e924";
}

#toggleAnnotationsButton.checked button,
#toggleAnnotationsButton.checked .sm-icons {
  color: #FD469B;
}

.EmptyPanelMessage {
  font-size: 1.1rem;
  color: #FFFFFF;
  padding: 0 60px;
  text-align: center;
  position: absolute;
}

.EmptyPanelMessage .sm-icons {
  font-size: 3rem;
  margin: 10px;
}

.ReleaseInfo {
  position: fixed;
  right: 0;
  bottom: 0;
  color: #FFFFFF;
  font-size: 1rem;
  z-index: 10000000;
  width: 280px;
  background: #505267;
  padding: 10px;
  text-align: right;
}

.EmptyPanelMessage,
.ReleaseInfo {
  font-family: "Arial", "Trebuchet MS", "Helvetica", "Verdana", "sans-serif";
}

#notesPanelWrapper.hidden .ReleaseInfo {
  display: none;
}

#ButtonShowAreas {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  content: '';
  border: 1px solid red;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
}

#ButtonShowAreas.isShown {
  background: red;
}

.context {
  content: '';
  position: absolute;
  border-radius: 10px;
  cursor: pointer;
  z-index: 400;
  transition: border .5s;
  /*background-color: rgba(0,0,0,.2);*/
}


.context-show .context {
  border: none!important;
}

.context-show .context-buttons {
  display: none;
}

.context.active {
  border: 2px solid #58A5FF;
  border-radius: 5px;
}

.context .context-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.16);
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.16);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.16);
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  vertical-align: middle;
  display: inline-block;
  float: right;
  margin: 5px 5px 0 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  pointer-events: none;
}

.context.active .context-button {
  opacity: 1;
}

.context-button.teacher {
  background-color: #58a5ff;
}
.context-button.sm {
  background-color: #000000;
}
.context-button.sm-teacher {
  background-color: #e672e6;
}
.context-button.solutions {
  background-color: #e672e6;
}

.context-button.solutions svg{
  width: 14px;
  height: 13px;
  stroke-width: 3px;
  vertical-align: middle;
  display: inline-block;
}

.context.isShown {
  background-color: rgba(0,0,0,.2);
}

#DocumentViewer {
  overflow: hidden!important;
}