.pageContainer {
  background: #fff !important;
}
.ui-header,
.ui-footer,
.ui-slider-handle {
  background-color: #505267 !important;
  border: 0;
}
.ui-header,
.ui-footer {
  opacity: 1;
}
#goToPagePopup,
.ui-content {
  background: #35403e !important;
}
.ui-header .glyphicons,
.ui-header .glyphicons:before {
  text-shadow: none !important;
  color: #fff !important;
}
a.mobile-button.active .glyphicons:before {
  text-shadow: none !important;
  color: #fd469b !important;
}
#slider,
input {
  background: #fff !important;
  color: #000 !important;
  text-shadow: none !important;
  border: 0 !important;
}
.ui-slider-track,
#goToPagePopup {
  background: #35403e !important;
}
#goToPagePopup {
  border-color: #35403e !important;
}
.ui-slider-track {
  border: 0;
}
.ui-slider-handle {
  box-shadow: none !important;
  height: 29px !important;
  border: 1px solid #fff;
}
#slider {
  height: 22px;
}
#searchInput {
  height: 24px;
}
#optionsDialog .ui-radio,
#optionsDialog .ui-checkbox-on,
#optionsDialog .ui-checkbox-off {
  background: #fff;
  color: #000;
}
.custom-dialog .ui-header,
#bookmarkDialog .ui-header,
#optionsDialog legend {
  color: #fff;
  text-shadow: none;
}
#optionsDialog .ui-radio-off:after {
  border-color: #b6b7b8 !important;
}
#optionsDialog .ui-radio-on:after {
  border-color: #fd469b !important;
}
#optionsDialog .ui-checkbox-off:after {
  background-color: #b6b7b8 !important;
}
#optionsDialog .ui-checkbox-on:after {
  background-color: #fd469b !important;
}
#viewerPage,
#optionsDialog {
  min-height: '' !important;
}
.closeBtn:after {
  background-color: #434f4c;
}
#searchMenuContext .mobile-button .glyphicons {
  padding-top: 6px;
}
#preview,
#preview #textdiv{
  border-color: #35403e !important;
  background-color: #35403e !important;
}
.ui-controlgroup-controls .ui-btn-active  {
  background: #fd469b !important;
  border-color: #fd469b !important;
  color: #fff;
  text-shadow: none !important;
}

body,
#viewerPage {
  background: #fff !important;
}

.hiddenAnimated {
  transition-property: opacity;
  transition-duration: 0.1s;
  filter: alpha(opacity=0);
  opacity: 0;
}

#pageHeader.ui-fixed-hidden,
#pageFooter.ui-fixed-hidden {
  clip: auto;
  display: none;
  height: inherit;
}

#pageHeader{
  height: 50px;
}

#annotList .annotlist-replyButton,
#annotList .author {
  display: none !important;
}

#headerTitle {
  color: #fff;
  text-shadow: none;
  position: absolute;
  left: 0;
  height: 49px;
  line-height: 49px;
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
  vertical-align: middle;
}

#headerTitle.expanded {
  background: #505267 !important;
  max-width: inherit !important;
  width: 100%;
}

#smLogo {
  display: inline-block;
  vertical-align: middle;
  margin: -15px 6px 0px 6px;
  height: 32px;
}

#buttonFilterIcons .glyphicons:before {
  content: "\E052" !important;
}

#buttonFilterIcons.isShown .glyphicons:before {
  content: "\E053" !important;
}

#LDTronPopup.popupInfo {
  color: #fff;
  text-shadow: none !important;
}

#LDTronPopup.popupInfo .message{
  padding: 10px 0;
}

#LDTronPopup.popupInfo A{
  background :  #fd469b;
  color: #fff;
  text-shadow: none;
  border: none;
  flex: none;
}

#LDTronPopup.popupInfo .botonera {
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: space-around;
	justify-content:space-around;
}

.glyphicons.personal:before {
  content: "\E358";
}

.glyphicons.flaticon-uniE030:before{
  content: '\e030';
}

.glyphicons.flaticon-uniE115:before{
  content: '\e115';
}


#pageHeader .sm-icons{
    font-size: 2em;
    font-weight: normal;
    color:#FFF;
    margin: 0 5px;
    text-shadow: none !important;
}

#pageHeader .mobile-button{
    text-decoration: none;
}

.btn.sm-icons{
  font-size: 2em;
  color:#FFF;
  background: #35403e;
  border-radius: 10px;
  width:50px;
  height:50px;
  line-height: 50px;
  display:inline-block;
}


.menuContext li{
  display: inline-block;
  cursor: pointer;
}

.color-option,
.size-option,
.opacity-option
 {
  display:inline-block;
	width: 30px;
  height: 30px;
}

.color-option {
	border-radius: 5px;
	margin: 0 3px;
}
.color-option.one {
	background-color: #FF0000;
}
.color-option.two {
	background-color: #2C65CE;
}
.color-option.three {
	background-color: #FFFF00;
}
.color-option.four {
	background-color: #00FF00;
}
.color-option.selected {
  border: 2px solid #eee;
  width: 26px;
  height: 26px;
}
.size-option, .opacity-option {
	position: relative;
}
.size-option .dot, .opacity-option .dot {
	content: ' ';
	background-color: #eee;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
}
.size-option.small {
	width: 20px;
}
.size-option.small .dot {
	width: 10px;
	height: 10px;
}
.size-option.medium .dot {
	width: 15px;
	height: 15px;
}
.size-option.normal .dot{
	width: 20px;
	height: 20px;
}
.size-option.big, .opacity-option {
	width: 35px;
}
.size-option.big .dot, .opacity-option .dot{
	width: 30px;
	height: 30px;
}
.opacity-option.opacity25{
  opacity:.25
}
.opacity-option.opacity50{
  opacity:.5
}
.opacity-option.opacity75{
  opacity:.75
}
.opacity-option.opacity100{
  opacity: 1
}

.width-option{
  display: block;
  text-align: right;
  padding : 0 15px;
  cursor:pointer;
  border-radius: 5px;
}
.width-option:hover{
  background:#FFF;
  color: #FD469B;
}

.active span:before, .selected:before{
  color: #FD469B;
}

.separator{
  width:5px;
  height: 24px;
  border-right: solid 1px rgba(255, 255, 255, .5);
  margin-top : 5px;
  margin-right: 5px;
  float: left;
}

.editButtonsContainer{
  text-align: right;
  width: 100%;
  margin-top: 10px;
}

.annotContainer {
  position: relative;
  padding: 0;
}

.annotContainer .noteButton {
  display: none !important;
}

.annotContainer .btnmini {
  text-align: center;
  margin-left: 15px;
  width:35px;
  height:35px;
  line-height: 35px;
  font-size: 1.2em;
}

.annotContainer .btnmini:before {
  line-height: inherit;
}


#annotationView .ui-btn {
  border: 0;
}

.showAllAnnotButton .ui-link {
  color: #FFFFFF !important;
  text-shadow: none;
}

.ui-btn.closeBtn {
  color: #FFFFFF!important;
  background-color: initial!important;
  font-size: 0.9rem;
  border: 2px solid #FFFFFF;
  text-shadow: none!important;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  margin: 5px;
  border-radius: 50%;
}

.ui-btn.closeBtn:before {
  line-height: inherit;
}

#annotList{
  margin-bottom: 60px;
}

#annotList .subject {
  padding-left: 30px;
}

#annotList .node-type {
  position: absolute;
  font-size: 1.2rem;
}

textarea.comment-text {
  box-shadow: none !important;
  border-color: #3388cc !important;
  border-radius: 0 !important;
}

.ReleaseInfo {
  position: fixed;
  right: 0;
  bottom: 0;
  color: #FFFFFF;
  font-size: 1rem;
  width: 470px;
  background: #35403e;
  padding: 10px;
  text-align: right;
}

div#releasePopup-popup {
  top: initial!important;
  left: initial!important;
  right: 20px;
  bottom: 50px;
}

div#releasePopup span {
  display: block;
}