#page-context {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    height: 100%;
}

#context-bar {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
}