
#annotEditProperties{
  background: #E2E3EB;
  padding: 20px;
  width: 295px;
}

#annotEditProperties .colorPicker {
  width: 100%;
  background: initial;
  margin: 0;
  padding: 0  ;
  border: 0;
}

#annotEditProperties .colorPicker li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
  padding: 2px;
}

#annotEditProperties .colorPicker li div {
  display: inline-block;
  margin: 0 4px 6px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}

#annotEditProperties .colorPicker li div.color-selected {
  position: absolute;
  left: 0;
  top: 0;
  background: none;
  border: 3px solid #ff489a;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
}

#advancedPropertyContainer {
  width: calc(100% - 80px);
  display: block;
  padding: 10px 0;
  font-size: 14px;
}

#advancedProperties {
  margin: 0;
}

#advancedPropertyContainer > *{
  padding: 5px 0;
}

#colorType {
  padding-bottom: 10px;
}

#annotEditProperties .ui-slider {
  height: 20px !important;
  border-left: none !important;
  border-right: none !important;
  cursor: pointer;
  padding: 0!important;
  margin: 5px 0;
  background: transparent;
}

#annotEditProperties .ui-slider .ui-slider-handle {
  background: #515267 !important;
}

#annotEditProperties .ui-slider .ui-slider-handle {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  color: transparent !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  margin: 0 !important;
  cursor: pointer;
  outline: none;
}

#annotEditProperties .ui-slider-range {
  background: transparent;
}

#annotEditProperties .ui-slider .ui-slider-handle:after {
  display: none;
}

#annotEditProperties .ui-slider-track.ui-mini {
  height: 20px !important;
  top: 0 !important;
  margin: 0 !important;
  box-shadow: none;
  background: transparent!important;
}

#annotEditProperties .ui-slider-horizontal:before,
#annotEditProperties .ui-slider-track.ui-mini:before {
  width: 100%;
  height: 2px;
  background: #999a9d;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
}


.sliderMenu {
  margin: 0;
}

.propertyValue {
  /*margin-left: 15px !important;*/
  position: absolute;
  right: -50px;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

#annotEditProperties .slider {
  width: 200px;
}

#annotEditProperties .ui-buttonset{
  position: relative;
}


.sliderMenu table {
  position: relative;
}

.sliderMenu td:first-child {
  width: 200px;
}

.colorButton.active {
  border-bottom-color: #FD469B;
}

.colorButton.active .glyphicons:before {
  color: #FD469B !important;
}

.show {
  display: initial!important;
}

#annotEditProperties .hidden {
  display: none!important;
}