html,
body {
  font-family: 'Open Sans', sans-serif;
}

.svg-button:hover {
  background: black;
}

.svg-button:hover svg{
  color: white;
  transform-style: flat;
}

.popup-conn {
  width: 100VW;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1900;
  display: none;
}

.popup-conn.off.active {
  display: block;
}

.popup-conn.on.active {
  display: block;
}

.popup-conn .msg {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  text-align: center;
}

.popup-conn .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  background-color: #000093;
  color: #FFF;
  margin: 10px;
  line-height: 100px;
}

.popup-conn .logo svg {
  vertical-align: middle;
}

.popup-conn.on .logo {
  background-color: #00D54A;
}

.popup-conn h1 {
  font-size: 2rem;
}

.popup-conn h2 {
  font-size: 1.2rem;
}

.popup-conn .button-close {
  background: #FFF;
  display: inline-block;
  color: #000;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.popup-conn .logo .feather {
  width: 50px;
  height: 50px;
}

#edit-ball, #edit-icons {
  cursor: pointer;
}

[data-icons] {
  width: 25px;
  height: 25px;
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
}

.button-white {
  background-color: #FFFFFF!important;
  border: 1px solid #666666;
  color: #666666!important;
}