.context-input {
  display:none;
  z-index: 700;

}
.context-sketch {
  display:none;
  z-index: 750;

}
.context-loading {
  display:none;
  z-index: 800;
}
.context-success {
  display:none;
  z-index: 900;
}
.context div {
  border: 2px solid #58A5FF;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  border-radius: 5px;
}
.context .context-input {
  background-color: rgba(255,255,255,0.5);
}
.context div * {
  color: #58A5FF;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: large;
}

.context-input:hover, .context-input.is-dragover {
  background-color: rgba(255,255,255,0.9);
}

input.context-file {
  top: 50%;
  left: 50%;
  display: inherit;
  opacity: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: absolute;
}
.context-input label {
  position: absolute;
  display: none;
}
.context-input:hover label, .context-input.is-dragover label {
  display: inherit;
}

.drag-mode .context-input {
  display: block;
}

.context .context-sketch {
  background-color: rgba(255,255,255,0.5);
}
.context-sketch:hover, .context-input.is-dragover {
  background-color: rgba(255,255,255,0.9);
}
.context-sketch label {
  position: absolute;
  display: none;
}
.context-sketch:hover label {
  display: inherit;
}

.click-sketch .context-sketch {
  display: block;
}