.zoombook-nav-button {
  position: fixed;
  bottom: 0px;
  background-color: rgba(237, 237, 237, 1);
  width: 60px;
  height: 60px;
  font-size: 40px;
  cursor: pointer;
  z-index: 400;
}

.zoombook-nav-button .feather{
  width: 35px;
  height: 35px;
  margin: 35px 0 0 0;
  color: rgba(102, 102, 102, 1);
}

#navigate-left{
  left: 0;
  border-radius: 0 60px 0 0;
  -moz-border-radius: 0 60px 0 0;
  -webkit-border-radius: 0 60px 0 0;
}

#navigate-right{
  right: 0;
  border-radius: 60px 0 0 0;
  -moz-border-radius: 60px 0 0 0;
  -webkit-border-radius: 60px 0 0 0;
}

#navigate-left .feather {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-65%, -125%);
}
#navigate-right .feather {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-35%, -125%);
}

.zoombook-nav-slide {
  position: fixed;
  z-index: 400;
  width: auto;
  height: 40px;
  bottom: 5px;
  background-color: #FFFFFF;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  padding: 0 20px;
  min-width: 400px;
  text-align: center;
  border-radius: 40px;
  line-height: 40px;
  box-shadow: 0px 5px 10px #00000020;
}

.zoombook-flit-page {
  width: 60px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  display: inline-block;
  margin: 0;
  padding: 5px 0;
  font-weight: 600!important;
  font-size: 16px;
  font-family: sans-serif;
  background: white;
  position: relative;
}

.zoombook-flit-page span {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  line-height: initial;
}

.flipster__item {
  margin: 0 3px;
  box-shadow: 0 10px 10px #888888;
  cursor: pointer;
}

.zoombook-nav-slide .ui-slider-handle {
  background: #666666;
  border: 0!important;
  border-radius: 50%;
  top: 50%;
  cursor: pointer;
  width: 14px;
  height: 14px;
  outline: none;
  transform: translateY(-50%);
}

.zoombook-nav-slide .ui-slider {
  width: 100%!important;
  margin: 0!important;
  height: 37px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

div#sliderPages:before {
  content: '';
  background: #EDEDED;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.zoombook-nav-slide .slide-value {
  content: '';
  background: black;
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  top: 50%;
  transform: translateY(-50%);
}

/*.zoombook-nav-slide .ui-slider:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  background: #666666;
}*/

#flitPages {
  position: fixed;
  bottom: -180px;
  left: 50%;
  height: 120px;
  transform: translateX(-50%);
  z-index: 400;
  width: 100vw;
  overflow: hidden;
  padding: 5px 0 35px;
  max-width: 750px;
}
#flitPages.visible-up {
  bottom: 10px;
  -webkit-transition: 1s bottom;
  -moz-transition: 1s bottom;
  -o-transition: 1s bottom;
  transition: 1s bottom;
}

#FlitPagesContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

#layer-teacher svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}