.button-fullscreen {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(237, 237, 237, 1);
  width: 60px;
  height: 60px;
  font-size: 40px;
  cursor: pointer;
  z-index: 400;
  border-radius: 0 60px 0 0;
  -moz-border-radius: 0 0 0 60px;
  -webkit-border-radius: 0 0 0 60px;
  line-height: 60px;
}

.button-fullscreen svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-20%, -80%);
}

.context-show .button-fullscreen {
  top: 40px;
  z-index: 300;
}
#FullscreenMinimize {
  display: none;
}