div#edit-button {
    width: 50px;
    height: 100px;
    position: absolute;
    right: 10px;
    bottom: 120px;
    text-align: center;
    background-color: #BEBEBE;
    color: white;
    border-radius: 25px;
    z-index: 500;
    cursor: pointer;
    box-shadow: 0px 3px 6px #00000089;
}

div#edit-icons div {
    position: absolute;
    left: 13px;
}

div#edit-top-icon {
    top: 12px;
}

div#edit-bottom-icon {
    top: 62px;
}

div#edit-ball {
    position: absolute;
    height: 45px;
    width: 45px;
    margin: 3px;
    background-color: #BF003B;
    border-radius: 40px;
    transform: translateY(50px);
}

.circle-option .sm-icons {
    font-size: 1.5rem;
    height: 50px;
    margin: 0 auto;
    display: block;
    line-height: 50px;
    color: #000;
}

.background-menu {
    width: 190px;
    height: 190px;
    content: '';
    background: #FAFAFA;
    position: fixed;
    bottom: 170px;
    right: -60px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000029;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

#circle-menu.opened .background-menu {
    visibility: visible;
    opacity: 1;
}

.attach-background-menu {
    width: 190px;
    height: 190px;
    content: '';
    background: #FAFAFA;
    position: fixed;
    bottom: 240px;
    right: -60px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000029;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

#attach-menu.opened .attach-background-menu {
    visibility: visible;
    opacity: 1;
}

#edit-notification {
    position: absolute;
    right: 100px;
    background-color: rgb(88, 165, 255);
    width: 250px;
    height: 50px;
    line-height: 3;
    border-radius: 10px;
    text-align: center;
    bottom: 20px;
    cursor: inherit;
    pointer-events: none;
    opacity: 0;
}

.editing #edit-notification {
    animation-name: notification-appear;
    animation-duration: 1.5s;
}

#show-notification {
    position: absolute;
    right: 100px;
    background-color: #BF003B;
    width: 250px;
    height: 50px;
    line-height: 3;
    border-radius: 10px;
    text-align: center;
    bottom: 20px;
    cursor: inherit;
    pointer-events: none;
    opacity: 0;
}

.showing #show-notification {
    animation-name: notification-appear;
    animation-duration: 1.5s;
}

@keyframes notification-appear {
    0% {
        opacity: 0;
        bottom: 0px;
    }
    25% {
        opacity: 1;
        bottom: 20px;
    }
    75% {
        opacity: 1;
        bottom: 20px;
    }
    100% {
        opacity: 0;
        bottom: 0px;
    }
}