#context-activities {
  position: fixed;
  bottom: 10px;
  z-index: 400;
  left: 50%;
  transform: translateX(-50%);
  min-width: 130px;
  text-align: center;
}

.btn-activity, .btn-destroying {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 3.2;
  color: white;
  background-color: #000000;
  z-index: 900;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 3px 6px #00000029;
  position: relative;
}

.btn-activity.btn-solutions, .btn-destroying.btn-solutions {
  background-color: #e672e6;
}
.btn-activity.btn-teacher, .btn-destroying.btn-teacher {
  background-color: #58a5ff;
}
.btn-activity.btn-sm-teacher, .btn-destroying.btn-sm-teacher {
  background-color: #e672e6;
}

#context-activities-container {
  padding: 5px;
  line-height: 1;
  border-radius: 30px 0px 0px 30px;
  background: #FFFFFF;
  box-shadow: 0 5px 10px #00000033;
  display: inline-block;
}

#context-activities-button-list .btn-activity {
  background: #FFFFFF;
  box-shadow: none;
  color: #666666;
}

.btn-activity svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#context-activities-container {
  padding: 5px;
  line-height: 1;
  border-radius: 30px 0px 0px 30px;
  background: #FFFFFF;
  box-shadow: 0 5px 10px #00000033;
}

#context-activities-button-list {
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px #00000033;
  border-radius: 0px 30px 30px 0px;
  line-height: 1;
  padding: 5px;
}

#context-activities-button-list svg {
  width: 30px;
}

#context-activities-container .btn-activity.many:before {
  content: attr(resource-count);
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  top: -10px;
  background-color: red;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 20px;
}

[aria-describedby="ResourcesPanel"] {
  font-family: 'Open Sans', sans-serif;
  left: 50%!important;
  transform: translateX(-50%)!important;
  z-index: 600;
}

[aria-describedby="ResourcesPanel"] .ui-dialog-titlebar-close {
  border: none!important;
  background: #FFFFFF;
  right: 15px;
  top: 15px;
  color: #666666;
  outline: none;
}

[aria-describedby="ResourcesPanel"] .ui-dialog-titlebar {
  padding: 0!important;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  border-bottom: 1px solid #EDEDED!important;
}

[aria-describedby="ResourcesPanel"] .ui-dialog-title {
  margin: 0;
}

.ui-widget-overlay {
  background: #00000029;
  opacity: initial;
}

.ui-dialog {
  max-width: 600px;
}

[aria-describedby="ResourcesPanel"] .container .row {
  padding: 10px;
}

[aria-describedby="ResourcesPanel"] .container .row:not(:last-child) {
  border-bottom: 1px solid #EDEDED!important;
}

[aria-describedby="ResourcesPanel"] .container .col {
  display: inline-block;
  vertical-align: top;
}

.col.text {
  width: 70%;
  cursor: pointer;
}

[aria-describedby="ResourcesPanel"] .btn-activity {
  width: 30px;
  height: 30px
}

[aria-describedby="ResourcesPanel"] .btn-activity svg{
  width: 15px;
}

.col.icon {
  width: 10%;
  cursor: pointer;
  max-width: 40px
}

.col.buttons {
  width: 20%;
  text-align: right;
}
.col.buttons .delete-resource {
  padding: 0 20px 0 10px;
}
.col.buttons span {
  color: #666666;
  cursor: pointer;
}

.col-type {
  font-size: 14px;
  color: #666666;
  padding: 0 20px;
}

.col-title {
  font-size: 18px;
  font-weight: 600;
  padding: 0 20px;
}

.ui-widget-content {
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  [aria-describedby="ResourcesPanel"] .btn-activity{
    width: 20px;
    height: 20px;
  }
  [aria-describedby="ResourcesPanel"] .btn-activity svg{
    width: 10px;
  }
}