#ZoomAttachment {
  position: fixed;
  z-index: 400;
  right: 10px;
  bottom: 330px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #666666;
  cursor: pointer;
  display: none;
  opacity: 0;
  background-color: black;
  color: white;
  transform: rotate(45deg);
}

#ZoomAttachment.active {
  background-color: #58A5FF;
}

#ZoomAttachmentOptions {
  position: fixed;
  z-index: 400;
  width: 400px;
  height: 40px;
  border-radius: 50%;
  transform: rotate(30deg);
  right: 10px;
  bottom: 250px;
  display: none;
  opacity: 0;
}

#ZoomAttachment .active-option {
  margin: 25%;
}

body.edit-show  #ZoomAttachment {
  display: block;
  opacity: 1;
}

.active-button {
  background-color: #58a5ff!important;
  border-color: #58a5ff!important;
}