.button-toc {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(237, 237, 237, 1);
  width: 60px;
  height: 60px;
  font-size: 40px;
  cursor: pointer;
  z-index: 400;
  border-radius: 0 0 60px 0;
  -moz-border-radius: 0 0 60px 0;
  -webkit-border-radius: 0 0 60px 0;
  line-height: 60px;
}

.button-toc svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-80%, -80%);
}

.context-show .button-toc {
  top: 40px;
  z-index: 300;
}
#zoomToc {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: -500px;
  width: 500px;
  height: 100%;
  overflow-x: hidden;
  background-color: rgba(237, 237, 237, 1);
}
#zoomToc .bookmarkWrapper {
  background-color: rgba(237, 237, 237, 1);
  color: black;
}
#zoomToc .bookmarkWrapper.selected, #zoomToc .bookmarkWrapper:hover {
  background-color: black !important;
  color: white !important;
  border-radius:40px;
}
div#closeToc {
  padding: 20px;
  text-align: right;
  cursor: pointer;
}
ul#bookmarkView {
  background-color: rgba(237, 237, 237, 1);
  padding-left: 30px;
  padding-right: 30px;
}
#zoomToc .ui-widget-content {
  border: none;
  background: none;
}
#zoomToc .bookmarkWrapper {
  border-bottom: none !important;
}

.bookmarkWrapper span {
  border: 0;
  padding: 0 20px;
  line-height: 40px;
  font-size: 16px;
}

.bookmarkWrapper {
  padding: 0;
}
#zoomToc .bookmarkWrapper span {
  position: relative;
}

#zoomToc .bookmarkWrapper.selected span:before,
#zoomToc .bookmarkWrapper:hover span:before {
  color: #FFFFFF;
}

#zoomToc .bookmarkWrapper span:before {
  content: attr(pagenum);
  position: absolute;
  right: 0;
  top: 0;
  color: #000;
  width: 100%;
  text-align: right;
  line-height: 40px;
  padding-right: 20px;
}