#ContextBar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  overflow: hidden;
  background: #666666;
  z-index: 400;
  text-align: center;
  color: white;
  transition: height 1s ease-out;
}

#ButtonCloseContext {
  float: left;
  height: 40px;
  line-height: 40px;
  margin-left: 15px;
  cursor: pointer;
  position: absolute;
}

#ButtonCloseContext .feather-arrow-left {
  vertical-align: middle;
}

#ButtonCloseContext svg {
  margin: 0 4px 4px 0;
}

#ContextBar .title {
  padding: 5px 0 15px 0;
  font-size: 20px;
}

#ContextBar:hover {
  height: auto;
}

#ContextBar .sub-title {
  font-size: 16px;
  padding-top: 5px;
  text-align: center;
}

#ContextBar .sub-title.pg {
  font-size: 12px;
}