#solutions-popup {
    display: none;
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
#solutions-popup.visible {
    display: block;
    animation-name: question-show;
    animation-duration: 1s;
}
#close-solutions {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: black;
    z-index: 600;
    transform: scale(1.5);
}
#solutions-popup title {
    display: block;
    font-size: 24px;
    font-width: bold;
}
#solutions-popup subtitle {
    font: Regular 18px/24px Open Sans;
    letter-spacing: 0;
    color: #666666;
}
.solutions-header {
    text-align: center;
    background-color: #FAFAFA;
    padding: 40px;
}

.solutions-header * {
    padding: 10px;
}

#icon-solutions {
    background-color: #E672E6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: calc(50% - 40px);
}

.solutions-body {
    padding: 40px 20vw;
}

.solutions-question-button {
    height: 40px;
    width: 40px;
    color: black;
    border-radius: 50%;
    float: left;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
}

.solutions-question.opened .solutions-question-button {
    color: white;
    background-color: #E672E6;
}
.solutions-question-button * {
    padding: 4px;
}

.solutions-question.closed .solutions-question-eye-off {
    display: none;
}

.solutions-question.opened .solutions-question-eye {
    display: none;
}
.solutions-answer {
    padding-left: 50px;
    display: none;
}

.solutions-question {
    margin-bottom: 20px;
}

.solutions-question.opened .solutions-answer {
    display: block;
    animation-name: question-show;
    animation-duration: 1s;
}

.solutions-question-text {
    clear: right;
    line-height: 2.5;
    margin-left: 50px;
}

@keyframes question-show {
    from {opacity: 0;}
    to {opacity: 1;}
}
