#toggle-attach {
  background-color: #FFFFFF;
  cursor: pointer;
  color: #666666;
  border: 1px solid #666666;
}
#toggle-attach div {
  position: absolute;
  top: 2px;
  left: 10px;
  height: 45px;
}
#toggle-attach div#toggle-paperclip {
  left: 50%;
  top: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
}
#attach-menu {
  opacity: 0;
  z-index:500;
  animation-name: attach-menu-disappear;
  animation-duration: 0.5s;
}
#attach-menu.opened {
  z-index: 600;
}
#attach-menu.active {
  opacity: 1;
  animation-name: attach-menu-appear;
  animation-duration: 0.5s;
}

@keyframes attach-menu-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes attach-menu-disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#attach-menu .circle-set {
  color: #FFF;
  background-color: #58a5ff;
}
#attach-menu div {
  z-index: 500;
}
#attach-menu.opened div {
  z-index: 600;
}

#attach-menu.opened #toggle-attach {
  background-color: rgb(88, 165, 255);
  border: 0;
  color: #FFFFFF;
}

#attach-menu .round-button {
  bottom: 280px;
  animation-name: attach-disappear;
  animation-duration: 0.5s;
}

#attach-menu.active .round-button {
  bottom: 310px;
  animation-name: attach-appear;
  animation-duration: 0.5s;
}

@keyframes attach-appear {
  from {
    bottom: 280px;
  }
  to {
    bottom: 310px;
  }
}

@keyframes attach-disappear {
  from {
    bottom: 310px;
  }
  to {
    bottom: 280px;
  }
}

#toggle-attach div#toggle-x-attach {
  opacity: 0;
  top: -3px;
}
#toggle-paperclip {
  opacity: 0;
}


#toggle-paperclip svg {
  margin-bottom: 2px;
}

#attach-menu .layer {
  cursor: pointer;
}

#toggle-x-attach {
  top: 0;
}