.round-button {
  margin: 0;
  position: absolute;
  bottom: 240px;
  right: 14px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 3;
  color: white;
  box-shadow: 0px 3px 6px #00000049;
}
#toggle-circle {
  background-color: white;
  cursor: pointer;
  color: #666666;
  border: 1px solid #666666;
}
#toggle-circle div {
  position: absolute;
  top: 2px;
  left: 10px;
  height: 45px;
}
#toggle-circle div#toggle-mas {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#circle-menu div {
  z-index: 500;
}
#circle-menu .circle-set {
  color: #FFF;
  background-color: #BF003B;
}

#circle-menu.editing .circle-set {
  background-color: #58a5ff;
}


.tool {
  background-color: #58a5ff;
}
.layer,
.tool {
  background-color: #FFF;
  box-shadow: 0px 3px 6px #00000029;
  color: #666666;
  cursor: pointer;
}
#toggle-circle div#toggle-x {
  opacity: 0;
  top: -3px;
}
#toggle-mas {
  opacity: 0;
}

#toggle-mas i {
  margin-bottom: 2px;
}

#toggle-eye {
  top: -2px!important;
}

#circle-menu .layer {
  cursor: pointer;
}

#circle-menu.opened #toggle-circle {
  background-color: #BF003B;
  color: #FFFFFF;
  border: 0;
}

#circle-menu.editing.opened #toggle-circle {
  background-color: rgb(88, 165, 255);
  color: #FFFFFF;
  border: 0;
}