#sketch-popup {
    display: none;
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
#sketch-popup.visible {
    display: block;
}
#zoom-snapshot {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 600;
    animation-name: zoom-in;
    animation-duration: 0.5s;
    background-color: white;
}
#zoom-snapshot.small {
    height: 20vh;
    animation-name: zoom-out;
    animation-duration: 0.5s;
    background-color: aliceblue;
}
#zoom-snapshot img {
    width: auto;
    height: 100%;
}
#sketch-area {
    margin-top: 20%;
    width: 100vw;
    height: 80vh;
}
@keyframes zoom-out {
    from {height: 100vh;}
    to {height: 20vh;}
}
@keyframes zoom-in {
    from {height: 20vh;}
    to {height: 100vh;}
}
#invisible-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -600;
}
#close-sketch {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: black;
    z-index: 600;
    transform: scale(1.5);
}